<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario_logeado</title>
    <link rel="stylesheet" href="../static/style_logeado.css"> 
    <link rel="stylesheet" href="../static/chatBox.css"> 
</head>
<body>
    <!--MENU LATERAL-->
    <div id="contenedor">
        <ul>      
            <div id="logo">
                    <img src="../static/img/python.png" alt="logo"  width="40" height="40">
                    <img src="../static/img/github_.png" alt="logo" width="40" height="40">
                    <img src="../static/img/mysql.png" alt="logo" width="40" height="40">
            </div>

            <div id="tabla_style">
                <table id="tabla">
                    <tr>
                        <th>salas  <img src="../static/img/servidor/sala.png" id="salir" alt="logo" width="20" height="20"></th>
                    </tr>
                </table>
            </div>
            <div id="message"></div> <!--ELIMINAR EL MENSAJE Y PONER 204 EN JS EN CASO DE NO ENCONTRAR SERVIDOR, DISTINGUIDO-->

            <li><img src="../static/img/agregar.png" alt="logo" class="user_l1" width="25" height="25"  id="sala_nueva"></li>
            <li><img src="../static/img/mundo.png" alt="logo" class="user_l2"  width="25" height="25" id="todo_sala"></li>

            <!-- USUARIO   -->
            <div id="user">
                <a href="/auth/perfil_float"><img src="../static/img/usuario.png" alt="logo" width="25" height="25" ></a>

            </div>
        </ul>
    </div>

    
       <!-- CREAR CANAL -->
        <div id="contenedor2">
            <div id="canal">
                <table id="tabla_canal">
                    <tr>
                        <th>canales</th>
                    </tr>
               </table>
            </div>  

            <div id="message"></div> <!--ELIMINAR EL MENSAJE Y PONER 204 EN JS EN CASO DE NO ENCONTRAR SERVIDOR, DISTINGUIDO-->
            
            <div id="crear_canal">
                <button href="/auth/crear_canal" id="c_canal">añadir</button>
            </div>
        </div>

    
    <div id="contenido">
        <a> Aun no te has unido a un servidor <br> Intenta buscar uno o crea uno propio</a>
    </div>


    <!--
    <div id="busqueda">
        <form>
            <div class="input-box">
                <input type="text" placeholder="Buscar servidor" required> 
                <button type="submit" class="btn">Buscar</button>
            </div>    
        </form>
    </div>
    -->
    

    <!-- CHAT-BOX-->
    <div class="contenedor-chat" >  <!--style="display: none;"-->
            <div>
                <br>Bienvenido: <span id="nombre-usuario"></span> ,  <span id="correo-usuario"></span>
                
            </div>
            <div class="pantalla-chat" id="pantalla_Chat"></div>
              <div class="ingresar_Datos_Pantalla">
                <input type="text" id="ingresar_mensaje" placeholder="Escribe un mensaje...">
                <button onclick="sendMessage()">Enviar</button>
             </div>
    </div>

        <!-- Cuadro de confirmación para eliminar -->
    <div class="modal-confirmacion" id="modalEliminar" style="display: none;">
        <p>¿Estás seguro de que deseas eliminar este mensaje?</p>
        <button onclick="confirmarEliminar()">Sí</button>
        <button onclick="cancelarEliminar()">Cancelar</button>
    </div>










    <script>
        function mostrarChat() {
        var contenedorChat = document.querySelector(".contenedor-chat");
        contenedorChat.style.display = "block";
        }

        document.addEventListener("DOMContentLoaded", function() {
            var nombreUsuario = "{{ nombre }}";
            var correoUsuario = "{{ correo }}";
    
            // Verifica si los valores de nombre y correo existen y luego los muestra
            if (nombreUsuario && correoUsuario) {
                document.getElementById("nombre-usuario").textContent = nombreUsuario;
                document.getElementById("correo-usuario").textContent = correoUsuario;
                localStorage.setItem('nombre', nombreUsuario);
            } else {
                // En caso de que los valores no estén disponibles
                document.getElementById("nombre-usuario").textContent = "Usuario no logueado";
                document.getElementById("correo-usuario").textContent = "Sin correo";
            }
        });
    </script>

    <script src="../static/salas.js"></script>
    <script src="../static/grid.js"></script>
    <script src="../static/llamar_.js"></script>

</body>
</html>